@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Pecita";
  src: url(../fonts/Pecita.otf);
}

::selection {
  background-color: #FF9900;
}

* {
  user-select: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1EFFF;
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

.inter {
  font-family: "Inter", sans-serif;
}

.archivo {
  font-family: "Archivo", sans-serif;
}

nav {
  background-color: #000000;
}


.bg-nav {
  background-color: #3F348F;
}

/* dropdown css */
.side-nav {
  position: fixed;
  background-color: #3F348F;
  padding-top: 30px;
  /* Adjust padding to accommodate the close icon */
  width: 422px;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
}

.slide-nav {
  transform: translateX(0);
}

.dropdown-menu {
  display: block;
  border: 0 !important;
  position: static;
  background-color: transparent;
}

.dropdown-close-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
  z-index: 1;
  /* Ensure it stays on top */
}

.dropdown-item {
  color: #ffffff;
  padding: 10px 40px;
}

.content-padding h3 {
  font-size: 20px;
}

.content-padding .blue {
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: transparent;
  color: #FF9900;
}

.dropdown-item p {
  margin: 0;
}

.item-up {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.item-dn {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.px {
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.px:hover,
.drop:hover {
  color: #3F348F;
  background-color: #ffffff;
}

.px p {
  margin-bottom: 0;
}

.drop {
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 40px;
  border-radius: 20px;
  padding: 9px 26px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  text-transform: lowercase;
}

.secpad {
  padding: 20px 20px;
}

/* section hero css */
.hero {
  position: relative;
  background-color: black;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom right;

}

.bg-logo {
  height: 450px;
  position: absolute;
  z-index: 1;
  transform: rotate(336deg) translateY(-58%);
  opacity: 0.07;
  width: fit-content;
  top: 50%;
  left: 150px;
}

.hero-heading {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 96px;
  width: fit-content;
  max-width: 100%;
}

.hero-contain {
  padding-bottom: 60px;
}

.text-position {
  color: #FF9900;
  width: fit-content;
  top: 57%;
  right: 0;
}

.bg-1 {
  color: #ffffff;
}

.hero-text {
  padding: 150px 0;
  color: white;
  width: 580px;
  max-width: 100%;
  z-index: 2;
}

.hero-text p {
  width: 440px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding-top: 60px;
}

.brands {
  width: 20%;
  padding: 20px 0;
  text-align: center;
  margin: auto 0;
}

.brands img {
  max-width: 170px;
  max-height: 98px;
  height: auto;
  width: auto;
}

.brands-logo {
  align-items: center;
  row-gap: 10px;
  padding: 120px 0;
}

.chevron {
  padding: 50px 0;
}

.about {
  background-color: #3F348F;
}

.about-container {
  padding: 100px 0;
}

.hero-gradient {
  background-image: linear-gradient(120deg, #ffffff 64%, #ffffff1f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.about-image {
  object-fit: contain;
}

.about-image img {
  height: 500px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  filter: grayscale(1);
}

.about-heading {
  font-size: 120px;
  font-weight: 700;
  color: #FF9900;
  padding-bottom: 10px;
}

.first {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 120%;
}

.second {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}

.about-links {
  font-size: 32px;
  font-weight: 500;
  color: #ff9900;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
}

.about-links:hover {
  color: #ffffff;
  text-decoration: underline;
}

.num {
  font-size: 64px;
  font-weight: 700;
  color: #ff9900;
  margin: 0;
}

.para-text {
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  padding-left: 10px;
}

.text-align {
  align-items: center;
}

.i-do {
  text-align: center;
  padding: 130px 0;
}

.main-category {
  border-left: 2px solid #ffffff;
  color: #ffffff;
  gap: 70px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-category h2 {
  font-family: "Inter", sans-serif;
  font-size: 37px;
  font-weight: 500;

}

.sub {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 12px;
}

.hire {
  font-size: 32px;
  font-weight: 500;
  color: #FF9900;
  padding-bottom: 140px;
  text-align: center;
}

.hire a {
  transition: 0.3s ease-in-out;
  color: inherit;
}

.hire a:hover {
  color: #ffffff;
}

/* foooter csss */
.footer {
  background-color: #FF9900;
  height: 860px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding-bottom: 40px;
  flex-wrap: wrap;
}

.footer .social-media a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  transition: 0.3s ease-in-out;
}

.footer .social-media a:hover {
  color: #ffffff;
}

.touch a {
  text-decoration: none;
  color: #3F348F;
  font-family: "Inter", sans-serif;

}

.touch svg {
  height: 110px;
  width: 96px;
}

.touch path {
  transition: 0.3s ease-in-out;
}

.touch a {
  padding-top: 60px;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.touch a:hover {
  color: #ffffff;
}

.touch a:hover svg path {
  fill: #ffffff;
}

.touch h2 {
  font-size: 90px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.touch img {
  height: 100px;
}


/* Style for the carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(46%) sepia(92%) saturate(1905%) hue-rotate(348deg) brightness(100%) contrast(97%);
  background-color: transparent;
  width: 50px;
  height: 50px;
}

/* Hide controls on first and last slide */
.carousel-item:first-child .carousel-control-prev,
.carousel-item:last-child .carousel-control-next {
  display: none;
}

/* Style for the carousel indicators */
.carousel-indicators [data-bs-target] {
  background-color: transparent;
  border: 2px solid #ff9900;
  border-radius: 50%;
  /* Make the indicators circular */
  width: 12px;
  /* Set the width */
  height: 12px;
  /* Set the height */
  margin: 1px;
  /* Adjust the spacing */
}

.carousel-indicators {
  margin-bottom: -1rem;
}

/* Style for the active indicator */
.carousel-indicators .active {
  background-color: #ff9900;
  border-color: #ff9900;
}

.carousel-para {
  font-size: 24px;
  font-weight: 400;
  color: #3F348F;
}

.tag-head {
  font-size: 24px;
  font-weight: 700;
  color: #ff9900;
}

.tagline {
  font-size: 16px;
  font-weight: 300;
  color: #ff9900;
}

.pecita {
  font-family: 'Pecita', Courier, monospace;
}

/* services page css */
.craft img {
  height: 338px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

.craft-heading {
  font-size: 64px;
  font-weight: 700;
  color: #FF9900;
}

.craft-content p {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

.print-content {
  width: 65%;
}

.print {
  padding: 170px 0;
}

.print-content p {
  font-size: 16px;
  font-weight: 300;
  color: #231F20;
}

.service {
  background-color: #3F348F;
}

.ser-main {
  padding: 100px 0 70px;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-one {
  width: 30%;
  padding-bottom: 10px;
}

.card-two {
  width: 35%;
  padding-bottom: 10px;
}

.price-card {
  background-color: #ffffff;
  border-radius: 10px;
}

.print-card {
  background-color: #3F348F;
  border-radius: 10px;
}

.p-color {
  color: #ffffff !important;
}

.card-heading {
  background-color: #FF9900;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
  border-radius: 10px;
  padding: 24px 0;
  margin-bottom: 20px;
}

.cp-1 {
  margin-bottom: 105px;
}

.cp-2 {
  margin-bottom: 18px;
}

.cp-3 {
  margin-bottom: 86px;
}

.card-para {
  font-size: 12px;
  font-weight: 300;
  color: #231F20;
  text-align: justify;
}

.starting {
  color: #3F348F;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.para-sm {
  font-size: 10px;
  font-weight: 300;
  color: #231F20;
}

.card-para-sm {
  text-align: center;
}

.para-pad {
  padding-bottom: 60px;
}

.suitable {
  font-size: 20px;
  font-weight: 600;
  color: #3F348F;
  padding-top: 50px;
}

.rupees {
  font-size: 55px;
  font-weight: 700;
  color: #ff9900
}

.popular {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.popular p {
  font-size: 14px;
  font-weight: 700;
  color: #5FA647;
}

.line {
  color: #FF9900;
  border: 1px solid #FF9900;
  opacity: 1;
}

.price-list {
  color: #454545;
  font-size: 13px;
  font-weight: 300;
}

.price-list p {
  margin-bottom: 5px;
}

.card-link {
  width: 100%;
  text-decoration: none;
  line-height: 100%;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.orange {
  border: 1px solid #ff9900;
  background-color: #FF9900;
  margin-bottom: 10px;
}

.orange:hover{
  background-color: #ffffff;
  color: #FF9900;
}

.purple {
  border: 1px solid #3F348F;
  background-color: #3F348F;
  margin-bottom: 10px;
}

.purple:hover{
  color: #3F348F;
  background-color: #ffffff;
}
.custom {
  margin-bottom: 70px;
}

.green {
  border: 1px solid #38B445;
  background-color: #38B445;
  margin-bottom: 10px;
}
.green:hover{
  color: #38B445;
  background-color: #ffffff;
}

.chevron-ser {
  padding: 120px 0;
}

.print-heading {
  font-size: 96px;
  font-weight: 700;
  color: #FF9900;
}

/* lazeeza and other pages like this page css */
.title {
  padding: 80px 0 28px;
  font-size: 48px;
  font-weight: 600;
  color: #2C042E;
}



.content-padding p {
  margin-bottom: 0;
  padding-top: 45px;
  font-size: 12px;
  font-weight: 300;
  color: #2C042E;
}

.content-padding h3 {
  color: #3F348F;
}

.blue {
  color: #2C042E;

}

.image {
  height: 515px;
  object-fit: cover;
  padding: 5px 5px;
}

.image-two {
  height: 895px;
  object-fit: cover;
  padding: 5px 5px;
}

.image-three {
  height: 595px;
  object-fit: cover;
  padding: 5px 5px;
}

.image-four {
  height: 399px;
  object-fit: cover;
  padding: 5px 5px;
}

.pic-height {
  height: 100%;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 15px;
  width: 100%;
}

.pro-button {
  padding: 10% 0;
}

.para {
  padding-bottom: 50px;
}

.project {
  height: 41px;
  width: 182px;
  border: 1px solid #3F348F;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  color: #3F348F;
  text-decoration: none;
}

.project:hover {
  color: #ffffff;
  background-color: #3F348F;
}

.active-design {
  height: 475px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 110px;
  object-fit: cover;
  object-fit: contain;
}

.active-design img {

  width: 100%;
}

@media (min-width: 992px) {
  .pic-height{
    object-fit: unset;
  }

}
@media (max-width: 1400px) {

  .image{
    height: 390px;
  }
  .cp-3 {
    margin-bottom: 105px;
  }
}

@media (max-width:1200px) {

  .cp-3 {
    margin-bottom: 105px;
  }

  .image {
    height: 330px;
  }

  .brands {
    width: 25%;
  }

  .brands-logo {
    padding: 100px 0;
  }

  .about-image img {
    height: 450px;
  }

  .about-heading {
    font-size: 110px;
    padding-bottom: 8px;
  }

  .first {
    font-size: 22px;
  }

  .second {
    font-size: 11px;
  }

  .about-links {
    font-size: 30px;
    padding: 4px 10px;
  }

  .main-category {
    width: 50%;
    gap: 50px;
    margin-bottom: 80px;
  }

  .about-container {
    padding: 80px 0;
  }

  .ser-main {
    padding: 80px 0 60px;
  }

  .craft-heading {
    font-size: 55px;
  }

  .card-one {
    width: 50%;
  }

  .card-two {
    width: 50%;
  }

  .print-content {
    width: 50%;
  }

  .print-heading {
    font-size: 80px;
  }

  .chevron-ser {
    padding: 100px 0;
  }

  .print {
    padding: 140px 0;
  }

}

@media (max-width:992px) {
  .cp-2 {
    margin-bottom: 22px;
  }

  .image {
    height: auto;
  }

  .brands {
    width: 33.33%;
  }

  .brands-logo {
    padding: 90px 0;
  }

  .about-image img {
    height: 500px;
  }

  .about-heading {
    font-size: 100px;
    padding-bottom: 5px;
  }

  .first {
    font-size: 22px;
  }

  .second {
    font-size: 11px;
  }

  .about-links {
    font-size: 30px;
    padding: 3px 10px;
  }

  .about-container {
    padding: 60px 0;
  }

  .i-do {
    text-align: center;
    padding: 80px 0;
  }

  .num {
    font-size: 40px;
  }

  .ser-main {
    padding: 60px 0 50px;
  }

  .popular p {
    display: none;
  }

  .res {
    padding-top: 10px;
  }

  .print-heading {
    font-size: 60px;
  }
}

@media (max-width:768px) {
  .touch h2 {
    font-size: 60px;
    gap: 0;
  }

  .touch img {
    height: 60px;
  }

  .footer {
    height: 560px;
  }

  .hero-heading {
    font-size: 70px;
  }

  .bg-logo {
    display: none;
  }

  .hero-text {
    padding: 41px 0 365px;
  }

  .title {
    padding: 45px 0 14px;
    font-size: 35px;
  }

  .para {
    padding-bottom: 30px;
  }

  .content-padding p {
    padding-top: 10px;
  }

  .image {
    height: auto;
  }

  .brands {
    width: 50%;
  }

  .brands-logo {
    padding: 65px 0;
  }

  .about-image img {
    height: 500px;
    padding: 0;
  }

  .about-heading {
    font-size: 80px;
    padding-bottom: 5px;
  }

  .first {
    font-size: 22px;
  }

  .second {
    font-size: 11px;
  }

  .about-links {
    font-size: 25px;
    width: 50%;
  }

  .about-container {
    padding: 40px 0;
  }

  .ser-main {
    padding: 30px 0 40px;
  }

  .card-one {
    width: 100%;
  }

  .card-two {
    width: 100%;
  }

  .print-content {
    width: 100%;
  }

  .chevron-ser {
    padding: 60px 0;
  }

  .print {
    padding: 100px 0;
  }

  .cp-1,
  .cp-2,
  .cp-3 {
    margin-bottom: 30px;
  }

  .para-pad {
    padding-bottom: 30px;
  }

  .card-one,
  .card-two {
    padding-bottom: 40px;
  }
}


@media (max-width:576px) {
  .touch h2 {
    font-size: 40px;
    gap: 0;
  }

  .touch img {
    height: 40px;
  }

  .hero-text p {
    width: 100%;
  }

  .image {
    height: auto;
  }

  .active-design {
    height: 300px;

    padding-top: 60px;

  }

  .brands {
    width: 100%;
  }

  .brands-logo {
    padding: 50px 0;
  }

  .about-links {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .text-align {
    width: 100%;
    justify-content: center;
  }

  .main-category {
    width: 100%;
    gap: 30px;
    margin-bottom: 60px;
  }

  .about-container {
    padding: 20px 0;
  }

  .i-do {
    text-align: center;
    padding: 60px 0;
  }

  .chevron-ser {
    padding: 40px 0;
  }

  .print {
    padding: 60px 0;
  }

  .carousel-content {
    width: 60%;
  }
}